
.SearchInput {
    display: block;
    margin: 7rem auto 2.5rem;
    width: 20rem;
    height: 2.5rem;
    border-radius: 10px;
    color: rgb(211, 211, 211);
    text-align: center;
    font-size: 1.2rem;
}

/*  NEED TO FIX BORDER WHEN ACTIVE, CLEAR PLACEHOLDER WHEN CLICKED, TEXT-ALIGN WHEN ACTIVE
.SearchInput:active {
border: none;
} */

.Submit {
    display: block;
    margin: auto;
    background-color: #C98F9B;
    height: 2.5rem;
    width: 7rem;
    border-radius: 15px;
    border: none;
    font-size: 1.2rem;
    color: #fff;
    font-weight: 600;
}