
.SearchInput {
    display: block;
    margin: 7rem auto 2.5rem;
    width: 20rem;
    height: 2.5rem;
    border-radius: 10px;
    font-size: 1.2rem;
    box-sizing: border-box;
    padding-left: 1rem;
}


.SearchInput:focus {
    text-align: left;
    outline: none;
    padding-left: 1rem;
  }
  
  
  .SearchInput::placeholder {
    text-align: center; 
    color: rgb(211, 211, 211);
  }

  .SearchInput:focus::placeholder {
    opacity: 0; 
  }


.Submit {
    display: block;
    margin: auto;
    background-color: #C98F9B;
    height: 2.5rem;
    width: 7rem;
    border-radius: 15px;
    border: none;
    font-size: 1.2rem;
    color: #fff;
    font-weight: 600;
}

.Submit:hover {
    background-color: #9E8493;
}

.Submit:active {
    background-color: #F09E95;
}